<div class="container p-2">
  <h1 class="dash-header">Dashboard</h1>
</div>

<div class="container d-flex p-2">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Plants you've booked</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Previous bookings</a>
    </li>
  </ul>
</div>

<div class="booking-area">
  <% @bookings.each do |booking| %>
      <div class="single-booking-box">
        <div class="booking-img-area">
          <%= cl_image_tag(booking.plant.photo.key, style: 'width: 100%; object-fit: cover;', height: 200, crop: :fill) %>
        </div>
        <div class="booking-img-text">
          <span class="booking-name-text"><strong><%= booking.plant.name %></strong></span><br>
          <span class="booking-detail-text">Start: <%= booking.start_date %></span><br>
          <span class="booking-detail-text">End: <%= booking.end_date %></span><br>
          <span class="booking-detail-text">Price: €<%= booking.plant.price %> per day</span><br>
          <%= link_to "delete", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this plant from your bookings?"}, class: 'text-danger' %>
          <%#= link_to "Go to plant page >>", plant_path(booking.plant)%>
        </div>
      </div>
  <%end%>
</div>
