<div class="navbar navbar-expand-sm navbar-light navbar-lewagon"
  data-controller="navbar"
  data-action="scroll@window->navbar#updateNavbar">

  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <%= image_tag 'full-logo-transparent.png'
       %></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign out", destroy_user_session_path %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up",  new_user_registration_path %>
          </li>
          <li class="nav-item">
            <%= link_to "Home", root_path %>
          </li>
          <li class="nav-item">
          <%= link_to "Add a plant", new_plant_path %>
          </li>
          <li class="nav-item">
            <%= link_to "See all plants", plants_path %>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://cdn.dribbble.com/users/2795981/screenshots/8672749/media/d17286e628ff2b6791fa9d520b17cb90.jpg" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
