<div class="backgroundimg" style="background-image: linear-gradient(
                                                          180deg,
                                                            rgba(0, 0, 0, 0.4),
                                                            rgba(0, 0, 0, 0.2)),
                                                            url('https://images.unsplash.com/photo-1529866147017-1b4508a0485d?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870')
                                                        ;
                                                        ">
  <div class="container text-center pt-5">
    <h1 class="new-form-header pt-3 font-weight-bold">Add a new plant for rent!</h1>
    <p>Please give us details about your plant baby!</p>
  </div>

  <div class="container d-flex mt-5">
    <div class="m-auto">
      <div class="inputs-stuff m-auto">
        <%= simple_form_for plant do |r| %>
          <div class="row form-container">
            <div class="col">
              <%= r.input :name %>
            </div>
            <div class="col">
              <%= r.input :plant_type %>
            </div>
            <%= r.input :description %>
            <%= r.input :city %>
            <div class="col">
              <%= r.input :age, class: 'mt-4' %>
            </div>
            <div class="col">
              <%= r.input :price %>
            </div>
          <%= r.input :photo, as: :file %>
          <%= r.button :submit, class: 'new-button'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
