<section class="section">
    <div class="l-container is--plants-index">
      <% if params[:query].present? && @plants.size > 0 %>
        <h1 class="plants-index__h1">Plants Catalogue in <%= params[:query].capitalize %></h1>
        <div class="plants-index">
          <%= render "index_flex_block" %>
        </div>

      <% elsif params[:query].present? && @plants.size == 0 %>
        <div class="plants-index__error-box">
          <div class="plants-index__txt-wrp">
            <h2 class="plants-index__h2">Sorry, there are no plants in <%= params[:query].capitalize %> </h2>
            <h3 class="plants-index__h3">Check below out all our available plants around the globe</h3>
          </div>
          <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_IwKi9V.json" background="transparent" class="lottie-plants-index" speed="1"  style="width: 25em; height:22em;" loop autoplay></lottie-player>
        </div>
        <hr style="margin-bottom: 9em;">
        <h1 class="plants-index__h1">Plants Catalogue</h1>

        <div class="plants-index">
          <% Plant.all.each do |plant| %>
            <%= link_to plant_path(plant), class: "plants-index__container w-inline-block" do %>
              <div class="plants-index__img-wrp">
                <%= cl_image_tag(plant.photo.key, class: "plants-index__img") %>
              </div>
              <div class="plants-index__details-wrp">
                <h2 class="plants-index__name"><strong class="bold-text"><%= plant.name %></strong></h2>
                <div class="plants-index__price-div">
                  <h3 class="plants-index__price is--currency">€</h3>
                  <h3 class="plants-index__price"><%= plant.price %></h3>
                </div>
              </div>
            <% end %>
          <%end%>

        </div>
      <% else %>
        <h1 class="plants-index__h1">Plants Catalogue</h1>
        <div class="plants-index">
          <%= render "index_flex_block" %>
        </div>
      <%end%>
  </section>
