<section class="section">
  <div class="l-container">
    <div class="plant">
      <div class="plant__half is--img">
        <div class="plant__container is--img">
          <%= cl_image_tag(@plant.photo.key, class: "plant__img") %>
        </div>
        <%# <img src="https://images.unsplash.com/photo-1573261289561-d584b9e07feb" loading="lazy" alt="" class="plant__img"></div> %>
      </div>
      <div class="plant__half">
        <div class="plant__container">
          <h1 class="plant__name-h1"><strong class="bold-text"><%= @plant.name %></strong></h1>
          <div class="plant_price-div">
            <h2 class="plant__price is--currency">€</h2>
            <h2 class="plant__price"><%= @plant.price %></h2>
          </div>
          <div class="plant__details-wrp">
            <div class="plant__details-div">
              <div class="plant__detail-title">
                <div class="plant__icon-div">
                  <svg width="100%" height="100%" viewBox="0 0 456 477" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M398.72 -8.39713e-05C353.47 -0.062584 309.478 18.1679 277.69 51.5079C277.686 51.5079 277.686 51.5118 277.686 51.5118C238.471 92.6718 223.651 150.934 238.26 205.312C222.244 232.25 209.733 261.445 202.502 293.761C199.209 287.042 195.65 280.488 191.869 274.077C204.232 226.831 191.232 176.339 157.201 140.617V140.621C157.201 140.617 157.197 140.617 157.197 140.617C129.439 111.504 91.0251 95.5858 51.5171 95.6438C40.4551 95.6594 29.3101 96.925 18.2871 99.5071L18.6113 99.472V99.4681C15.8886 100.042 13.3691 101.331 11.3105 103.202C9.25194 105.074 7.72855 107.46 6.89645 110.117C-8.30655 159.09 4.31834 212.447 39.8374 249.717C39.8374 249.717 39.8414 249.717 39.8414 249.72C72.5714 284.048 120.118 300.021 166.791 293.107C182.853 321.197 193.607 351.959 196.373 387.306V460.333L196.377 460.33C196.377 464.486 198.026 468.47 200.967 471.412C203.905 474.349 207.889 476.001 212.045 476.001C216.205 476.001 220.19 474.349 223.127 471.412C226.068 468.47 227.721 464.486 227.721 460.33V336.49C231.01 294.283 244.006 257.654 263.35 224.27C317.362 232.84 372.57 214.574 410.46 174.848L410.456 174.851V174.848C451.132 132.172 465.581 71.0976 448.175 15.0376V15.0415C447.343 12.3853 445.819 9.99847 443.761 8.12737C441.702 6.25627 439.183 4.96717 436.46 4.38907L436.784 4.42813C424.159 1.47113 411.389 0.0219307 398.722 0.00233073L398.72 -8.39713e-05ZM398.669 31.3439C405.978 31.3517 413.325 31.9533 420.649 33.1564C430.704 75.8674 418.594 120.886 387.774 153.226C360.407 181.925 321.766 196.855 282.554 194.808C305.972 162.425 334.976 132.71 365.96 103.167L365.956 103.171C368.964 100.304 370.71 96.3549 370.808 92.2023C370.909 88.0461 369.351 84.0226 366.484 81.0143C363.288 77.6588 358.773 75.8932 354.148 76.1862C350.472 76.4206 346.995 77.944 344.327 80.4831C315.811 107.671 287.921 136.014 264.132 167.21C263.125 132.858 275.78 98.9601 300.378 73.1401C326.132 46.1281 361.87 31.3001 398.671 31.3471L398.669 31.3439ZM51.5792 126.985C82.6382 126.942 112.79 139.458 134.517 162.243C153.755 182.438 164.329 208.47 165.087 235.235C145.411 210.251 122.821 187.387 99.8211 165.458V165.462C97.1531 162.919 93.6766 161.395 90.0008 161.161C85.3758 160.868 80.8602 162.638 77.6648 165.989C74.7976 168.997 73.239 173.02 73.3406 177.177C73.4383 181.333 75.1845 185.279 78.1923 188.146C103.735 212.501 127.637 236.916 147.212 263.302C115.544 263.826 84.6653 251.302 62.5363 228.091C36.8843 201.177 26.6222 163.88 34.4972 128.302C40.1925 127.439 45.9032 126.997 51.5832 126.99L51.5792 126.985Z" fill="currentColor"/>
                  </svg>
                </div>
              </div>
              <div class="plant__detail-description"><%= @plant.plant_type %></div>
            </div>
            <div class="plant__details-div">
              <div class="plant__detail-title">
                <div class="plant__icon-div">
                  <svg width="100%" height="100%" viewBox="0 0 411 523" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M47.6631 401.379V483.445H19.6941C8.82309 483.445 0.00608826 492.261 0.00608826 503.133C0.00608826 514.005 8.82249 522.821 19.6941 522.821H391.224C402.095 522.821 410.912 514.005 410.912 503.133C410.912 492.261 402.096 483.445 391.224 483.445H363.255V401.379C363.255 339.297 327.216 285.489 274.966 259.739C327.216 233.993 363.255 180.18 363.255 118.099L363.259 39.376H391.228C402.099 39.376 410.916 30.5596 410.916 19.688C410.916 8.8164 402.1 0 391.228 0H19.688C8.81699 0 0 8.8164 0 19.688C0 30.5596 8.81639 39.376 19.688 39.376H47.657V118.095C47.657 180.177 83.696 233.985 135.946 259.735C83.696 285.485 47.657 339.297 47.657 401.375L47.6631 401.379ZM87.0381 118.099V39.38H323.888V118.099C323.888 183.4 270.763 236.519 205.468 236.519C140.167 236.519 87.0381 183.394 87.0381 118.099V118.099ZM205.458 282.959C270.755 282.959 323.878 336.084 323.878 401.379V483.445H87.0381V401.379C87.0381 336.078 140.163 282.959 205.458 282.959Z" fill="currentColor"/>
                  </svg>
                </div>
              </div>
              <div class="plant__detail-description"><%= @plant.age %></div>
              <div class="plant__detail-description">years old</div>
            </div>
          </div>
          <div data-controller="redirect" class="form-container">
            <%= simple_form_for ([@plant, @booking]) do |r| %>
            <div class="form-2-fields">
              <%= r.input :start_date, as: :date, html5: true, class: "input-left" %>
              <%= r.input :end_date, as: :date, html5: true %>
            </div>
              <%= r.button :submit, class: "plant__btn w-inline-block", data: { action: 'click->redirect#redirect', "bs-target": "#booking_modal", "bs-toggle": "modal" } %>
            <% end %>
          </div>
          <%# <a type="button" class="plant__btn w-inline-block" data-bs-toggle="modal" data-bs-target="#booking_modal">Book this plant</a> %>
          <%#= link_to 'Book this plant', new_plant_booking_path(@plant), class: 'plant__btn w-inline-block' %>
          <div class="plant__description-div">
            <div class="plant__description-text"><%= @plant.description %></div>
          </div>
        </div>
      </div>
    </div>
    <%= link_to '< Back to overview 🪴', plants_path, class: 'plants__btn-back-overview w-inline-block' %>
    <%= render "bookings/popup", plant: @plant %>
  </div>
</section>
